


<%- include("header") -%>
    
    <div>
        <table border="2" cellspacing="0" cellpadding="5" style="width: 90%;text-align: center;font-size: 25px;margin: 5%">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Balance</th>
            </tr>
            <% all.forEach(function(a) { %>
                <tr>
                    <td><%= a.id %></td>
                    <td><%= a.name %></td>
                    <td><%= a.email %></td>
                    <td><%= a.balance %></td>
                </tr>
            <% })  %>
                

             
        </table>
        
<%- include("footer") -%>